h1 {
    text-align: center;
}
a{
  text-decoration: none;
  color: red;
}
body{
  text-align: center;
}
p{
  font-family: cursive;
  font-size: 30px;
}
e{
  font-size: 70px;
  font-weight: bold;
  font-family: Arial;
  font-style: italic;
}
